/*
* @Author: GuoSai
* @Date:   2017-08-11 00:28:30
* @Last Modified by:   GuoSai
* @Last Modified time: 2017-08-11 00:29:38
*/

.main {
    font-family: "Mecrisoft Yahei";
    font-weight: normal;
    font-style: normal;
}